.dashboard {
  font-weight: bold;

  // &.container {
  // background: transparent;
  // border-radius: $radius;
  //min-height: 78.75rem;
  // border: $border;
  //margin-top: 0.25rem;
  // }

  &.topCenter {
    border-radius: $radius;
    background: $PrimaryBG;
    margin: 0.25rem;
  }

  &.leftSide {
    border-radius: $radius;
    margin: 0.25rem;
    // border: $border;
    //background: $PrimaryBG;
  }

  &.calendar {
    border-radius: $radius;
    border: $border;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
  }

  &.rightSide {
    border-radius: $radius;
    margin: 0.25rem;
    border: $border;
    background: rgba(0, 0, 0, 0.8);
  }
}